$textColour: #fff;
$backgroundColour: $brown;
$linkColour: $textColour;
$linkHoverColour: #f4dfba;
$panelColour: rgba(150 100 92 / 60%);
$panelTextColour: $textColour;
$shadowColour: rgba(0 0 0 / 50%);
