@font-face {
	font-family: "GreveVariable"; // by Matthew Hinders-Anderson - https://wehtt.am/fonts
	src:
		url("/public/fonts/greve-variable.woff2")
			format("woff2 supports variations"),
		url("/public/fonts/greve-variable.woff2") format("woff2-variations");
	font-weight: 100 900;
}

@font-face {
	font-family: "FairProsper"; // by Khurasan - https: //creativemarket.com/khurasan?u=khurasan
	src: url("/public/fonts/FairProsper.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

$copyFont: "GreveVariable", sans-serif;
$headingFont: "FairProsper", cursive;
