@font-face {
	font-family: Prata;
	src: url("/fonts/Prata-Regular.woff2") format("woff2"),
		url("/fonts/Prata-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Monoton;
	src: url("/fonts/Monoton-Regular.woff2") format("woff2"),
		url("/fonts/Monoton-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$copyFont: "Prata", serif;
$headingFont: "Monoton", sans-serif;
