@font-face {
	font-family: "Prata"; // by Ivan Petrov for Cyreal - https://cyreal.org/fonts/prata/
	src: url("/public/fonts/Prata-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Monoton"; // by Vernon Adams - https://github.com/vernnobile
	src: url("/public/fonts/Monoton-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

$copyFont: "Prata", serif;
$headingFont: "Monoton", sans-serif;
