$textColour: #fff;
$backgroundColour: $brown;
$linkColour: $textColour;
$linkHoverColour: #cccc18;
$panelColour: rgba(214 125 62 / 50%);
$panelTextColour: $textColour;
$shadowColour: rgba(0 0 0 / 50%);
