$textColour: #fff;
$backgroundColour: $brown;
$linkColour: $textColour;
$linkHoverColour: #f4dfba;
$panelColour: rgba(110 117 110 / 75%);
$panelTextColour: $textColour;
$shadowColour: rgba(0 0 0 / 50%);
