body {
	background-position: left bottom;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-image: url("/public/images/photo_wes.jpg");
	background-image: image-set(
		url("/public/images/photo_wes.avif") type("image/avif"),
		url("/public/images/photo_wes.jpg") type("image/jpeg")
	);
	padding-bottom: 740px;
}
