$textColour: $lightPeach;
$backgroundColour: $brown;
$linkColour: $brown;
$linkHoverColour: $midOrange;
$panelColour: $textColour;
$panelTextColour: $backgroundColour;
$shadowColour: rgba(0 0 0 / 50%);
