@font-face {
	font-family: "Cormorant Garamond";
	src: url("/public/fonts/CormorantGaramond-Regular.woff2") format("woff2"),
		url("/public/fonts/CormorantGaramond-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Righteous;
	src: url("/public/fonts/Righteous-Regular.woff2") format("woff2"),
		url("/public/fonts/Righteous-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$copyFont: "Cormorant Garamond", serif;
$headingFont: "Righteous", sans-serif;
