@font-face {
	font-family: "Cormorant Garamond";
	src: url("/public/fonts/CormorantGaramond-Regular.woff2") format("woff2"),
		url("/public/fonts/CormorantGaramond-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: SpecialElite;
	src: url("/public/fonts/SpecialElite-Regular.woff2") format("woff2"),
		url("/public/fonts/SpecialElite-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$copyFont: "Cormorant Garamond", serif;
$headingFont: "SpecialElite", monospace;
