$textColour: #fff;
$backgroundColour: $brown;
$linkColour: $textColour;
$linkHoverColour: #f4dfba;
$panelColour: rgba(60 60 80 / 70%);
$panelTextColour: $textColour;
$shadowColour: rgba(0 0 0 / 50%);
