<footer>
	<p class="copyright"><small>&copy; Clive Murray. All fights deserved.</small></p>

	<p class="image-credit hide"><small>Background photo by <a class="unsplash-link" href="https://unsplash.com/{{credit.handle}}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">someone</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></small></p>

</footer>
