<form>
	<legend>this</legend>
	<fieldset>
		{{#each nums}}
			<div>
				<input type="checkbox" name="cb{{this}}">
				<label for="cb{{this}}">cb{{this}}</label>
			</div>
		{{/each}}
	</fieldset>
</form>
