@font-face {
	font-family: "Josefin Sans";
	src: url("/public/fonts/JosefinSans-Light.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SpecialElite";
	src: url("/public/fonts/SpecialElite-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

$copyFont: "Josefin Sans", sans-serif;
$headingFont: "SpecialElite", monospace;
