@font-face {
	font-family: "ZXSpectrum";
	src: url("/public/fonts/zx-spectrum.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

$copyFont: "ZXSpectrum", monospace;
$headingFont: "ZXSpectrum", monospace;
