@font-face {
	font-family: DinAlternate;
	src: url("/fonts/DINAlternate-Bold.woff2") format("woff2"),
		url("/fonts/DINAlternate-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: IBMPlexSerif;
	src: url("/fonts/IBMPlexSerif-Light.woff2") format("woff2"),
		url("/fonts/IBMPlexSerif-Light.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexSerif;
	src: url("/fonts/IBMPlexSerif-SemiBold.woff2") format("woff2"),
		url("/fonts/IBMPlexSerif-SemiBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: IBMPlexSerif;
	src: url("/fonts/IBMPlexSerif-LightItalic.woff2") format("woff2"),
		url("/fonts/IBMPlexSerif-LightItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: IBMPlexSerif;
	src: url("/fonts/IBMPlexSerif-SemiBoldItalic.woff2") format("woff2"),
		url("/fonts/IBMPlexSerif-SemiBoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

$copyFont: "IBMPlexSerif", serif;
$headingFont: "DinAlternate", sans-serif;
