---
layout: main
---
<h2>Hi</h2>

<p>I’m Clive Murray - rock guitarist and gentleman adventurer from a land before time. I play guitar, make websites, and write stuff.</p>

{# <section class="notice">
	<h2>New thing alert!</h2>
	<p>My pal and I have started coming up with guitar challenges for each other, to keep ourselves playing.</p>
	<p>Check it out at <a href="https://fiasco.quest/">fiasco.quest</a> now!</p>
</section> #}

<hr>

<p>Here is some of the aforementioned stuff:</p>

<ul>
	<li><a href="https://blog.clivemurray.com/">My blog</a> (including the page for my <a href="https://blog.clivemurray.com/guitars">guitars</a>)</li>
	<li><a href="https://www.youtube.com/@clivemurray">My YouTube channel</a>, where I mainly post guitar videos</li>
	<li>My second album <a href="https://clivemurray.bandcamp.com/album/love-and-painkillers">&ldquo;Love and Painkillers&rdquo;</a>, released in February 2024.</li>
	<li><a href="https://fiasco.quest/">fiasco.quest</a>; me and a friend challenge each other to record guitar songs or solos in one take (on hiatus)</li>
	<li><a href="https://indigodown.com/">My band, Indigo Down</a> (on hiatus)</li>
	<li><a href="https://flipper.clivemurray.com/">Flipper</a>; a CSS project inspired by the Apple album art screensaver</li>
	<li><a href="https://wot.clivemurray.com/">The Wheel of Things</a></li>
	<li><a href="https://cubi.st/">My Speed-Cubing Timer</a> (not quite finished)</li>
	<li><a href="https://codenames.clivemurray.com/">My Project Codename Generator</a></li>
	<li>My older music on <a href="https://itunes.apple.com/gb/artist/clive-murray/id275368062">iTunes</a> or <a href="https://www.amazon.co.uk/Clive-Murray/e/B001LH82HY/">Amazon</a></li>
</ul>

<hr>

<h3>Contact</h3>

<p>You can email me on <a href="mailto:clive@clivemurray.com">clive@clivemurray.com</a>, should the mood take you.</p>
<p>I’m also on Mastodon — you can get me on <a rel="me" href="https://metalhead.club/@axemonkey">@axemonkey@metalhead.club</a>, because Elon Musk is an idiot.</p>
<p>I also do <a href="https://bsky.app/profile/axemonkey.bsky.social">BlueSky</a>, though I read it less than Mastodon. If you message me there, I'll get to it eventually.</p>
<p>I do still maintain <a href="https://twitter.com/axemonkey">my old twitter handle</a> though I check it less and less, and rarely (if ever) tweet any more.</p>

<section class="support">
	<a href="https://ko-fi.com/X8X120MQ6" target="_blank"><img height="36" style="border:0px;height:36px;" src="https://storage.ko-fi.com/cdn/kofi2.png?v=3" border="0" alt="Buy Me a Coffee at ko-fi.com" /></a>
</section>
