@import "partials/settings";

@import "partials/months/02feb/colours";
@import "partials/months/02feb/fonts";

@import "partials/main";

@import "partials/months/02feb/headings";

html {
	background: rgb(17 17 17);
	background-image:
		repeating-radial-gradient(circle at 0 0, transparent 0, #606 22px),
		repeating-linear-gradient(#3035, #303);
	background-attachment: fixed;
}

body {
	background: none;
}

header {
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #eee;
	text-align: right;
	background-color: $backgroundColour;
	background-color: rgba(0 0 0 / 75%);
	opacity: 0.8;

	h1,
	h2 {
		margin: 0 5px 5px;
		text-align: right;
	}

	h1 {
		margin-bottom: -6px;
		margin-right: 0;
	}
}

main {
	background-color: rgba(221 221 221 / 80%);

	p,
	li {
		font-style: italic;
	}
}

footer {
	p {
		font-style: italic;
	}
}

hr {
	border-bottom: 1px solid rgba(255 255 255 / 20%);
}
