@import "partials/settings";

@import "partials/months/01jan/colours";
@import "partials/months/01jan/fonts";
@import "partials/months/01jan/body";

@import "partials/main";

// overrides here

main {
	@media (min-width: $breakpoint) {
		border-radius: 10px;
	}
}

h1,
h2,
h3 {
	font-weight: normal;
}
