@import "partials/settings";

@import "partials/months/07jul/colours";
@import "partials/months/07jul/fonts";

@import "partials/main";

// overrides here

$smallShadow: 3px 2px 1px $shadowColour;

@import "partials/months/07jul/headings";

html {
	background-position: right bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("/public/images/unsplash/dakota-roos-u7ldh_tgH3s-unsplash_100.jpg");
	background-size: cover;
	height: 100%;
}

body {
	background: none;
}

main {
	@media (min-width: $breakpoint) {
		border-radius: 3px;
		box-shadow: none;
	}
}

p,
li {
	text-shadow: $smallShadow;
	font-weight: 200;
	font-variation-settings: "wdth" 250;
	font-size: $bodyFontSize + 0.2em;
	letter-spacing: 1px;
}
