@import "partials/settings";

@import "partials/months/10oct/colours";
@import "partials/months/07jul/fonts";

@import "partials/main";

// overrides here

$smallShadow: 3px 2px 1px $shadowColour;

@import "partials/months/07jul/headings";

html {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("/public/images/unsplash/alfred-schrock-C7E8WTsvkmY-unsplash.jpg");
	background-size: cover;
	height: 100%;
}

body {
	background: none;
}

main {
	@media (min-width: $breakpoint) {
		border-radius: 3px;
		box-shadow: none;
	}
}

header {
	max-width: $maxWidth;
	background-color: $panelColour;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	margin-top: 0;

	@media (min-width: $breakpoint) {
		border-radius: 3px;
		box-shadow: none;
		margin-top: 30px;
	}

	h1 {
		margin-top: 0;

		@media (min-width: $breakpoint) {
			margin-top: 10px;
		}
	}
}

p,
li {
	text-shadow: $smallShadow;
	font-weight: 200;
	font-variation-settings: "wdth" 250;
	font-size: $bodyFontSize + 0.2em;
	letter-spacing: 1px;
}

footer {
	padding: 10px 40px;
	background-color: $panelColour;

	p:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $breakpoint) {
		border-radius: 3px;
		box-shadow: none;
	}
}
