<!DOCTYPE html>
<html lang="en">

<head>
	<title>Clivemurray.com ~ {{{quote}}}</title>
	<meta charset="utf-8">
	<meta name="description" content="CliveMurray.com - online presence of web developer and rock guitarist Clive Murray.">
	<meta name="keywords" content="clive, murray, clive murray, clivemurray, axemonkey, earthman, rock, guitar, guitarist, ibanez, blackmachine, indigo down, indigodown">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">

	{{!-- <link rel="stylesheet" type="text/css" href="/css/style-{{month}}.css"> --}}
	<link rel="stylesheet" id="style-of-the-month" type="text/css">
	<link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>

<body>

	{{> header}}

	<main>

		{{{ content }}}

	</main>

	{{> footer}}

</body>
