<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Crossed Arms, at Chipping Margaret</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="The Crossed Arms, at Chipping Margaret. We invite you to our menu. You are welcome to it.">
  <meta name="keywords" content="menu, food, fine dining, restaurant, chipping margaret, the crossed arms, what the hell do you call this">
  <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/css/menu.css">
</head>

<body>

  <div class="container">

    {{ content | safe }}

  </div>

</body>
</html>
