// palette from http://wesandersonpalettes.tumblr.com/post/79784389334/the-grand-budapest-hotel
// #F1BB7B - lightest - for body text? - kind of peach
// #FD6467 - pinky colour
// #5B1A18 - darkest, for bg - brownish
// #D67236 - mid-orange? links and highlights

$lightPeach: #f1bb7b;
$pinkish: #fd6467;
$brown: #5b1a18;
$midOrange: #d67236;
$maxWidth: 640px;
$breakpoint: 768px;
$bodyFontSize: 1.3em;
$bodyFontSizeSmallscreens: 1.6em;
