@import "settings";

@import "months/08aug/colours";
@import "months/07jul/fonts";

@import "main";

// overrides here

$smallShadow: 3px 2px 1px $shadowColour;

@import "months/07jul/headings";

html {
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("/public/images/santorini2013/13644687363.jpg");
	background-size: cover;
	height: 100%;
}

body {
	background: none;
}

main {
	@media (min-width: $breakpoint) {
		border-radius: 3px;
		box-shadow: none;
	}
}

p,
li {
	text-shadow: $smallShadow;
}
