@import "settings";

@import "months/05may/colours";
@import "months/05may/fonts";

@import "main";

// overrides here

$theShadow: 8px 8px 0 $shadowColour;
$smallShadow: 3px 3px 0 $shadowColour;

html {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("/images/lng_close_jpg100.jpg");
	background-size: cover;
	height: 100%;
}

body {
	background: none;
	max-width: calc($maxWidth + 100px);
	height: 100%;
	margin: 0 auto;

	@media (min-width: $breakpoint) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
}

header {
	max-width: $maxWidth;
	color: #fff;
	background-color: $panelColour;
	margin: 10px;
	padding: 20px;

	@media (min-width: $breakpoint) {
		align-self: flex-end;
		box-shadow: $theShadow;
		border-radius: 40px 40px 0;
	}

	h1,
	h2 {
		text-align: center;
		font-family: $headingFont;
		text-shadow: $smallShadow;
	}

	h1 {
		margin: 0 auto 10px;
	}

	h2 {
		margin: 0 auto;
	}
}

main {
	max-width: $maxWidth;
	margin: 10px;
	padding: 20px;
	background-color: $panelColour;
	color: $panelTextColour;

	@media (min-width: $breakpoint) {
		align-self: flex-start;
		padding: 40px;
		box-shadow: $theShadow;
		border-radius: 40px 40px 40px 0;
	}

	h2,
	h3 {
		text-shadow: $smallShadow;
	}
}

p,
li {
	text-align: left;
	letter-spacing: -1px;
	text-shadow: 1px 1px 2px rgba(0 0 0 / 90%);
}

footer {
	max-width: $maxWidth;
	color: $panelTextColour;
	background-color: $panelColour;
	margin: 10px;
	padding: 20px;

	p {
		margin: 0;
	}

	@media (min-width: $breakpoint) {
		align-self: flex-end;
		box-shadow: $theShadow;
		border-radius: 40px 40px 0;
	}
}
