@font-face {
	font-family: ZXSpectrum;
	src: url("/public/fonts/sinclair_zx_spectrum_es.woff2") format("woff2"),
		url("/public/fonts/sinclair_zx_spectrum_es.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$copyFont: "ZXSpectrum", monospace;
$headingFont: "ZXSpectrum", monospace;
